.title {
  margin-left: 25%;
  /* padding-left: 1%; */
}

.item {
  margin-top: 2%;
  margin-left: 25%;
}

.item-area {
  height: 40px;
}

.input-row {
  margin: 1% 25% 0 25%;
}

.value {
  height: 40px;
}

select {
  height: 40px;
}

.button-row {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.output {
  width: 700px;
  height: 250px;
  margin: 0 auto;
}
